{% extends 'base.html' %} 
{% load static %}
{% block title %}Login - Gereja Santo Yohanes Paulus
II{% endblock %} {% block extra_css %}
<link rel="stylesheet" href="{% static 'css/login.css' %}" />
{% endblock %} {% block content %}
<section id="login" class="login">
  <div class="container">
    <h2>Masuk ke Akun</h2>
    <form method="post">
      {% csrf_token %}
      <label for="{{ form.username.id_for_label }}">
        <i data-feather="user"></i> Username
      </label>
      <input
        type="text"
        name="{{ form.username.name }}"
        id="{{ form.username.id_for_label }}"
        placeholder="Masukkan username"
        required
      />

      <label for="{{ form.password.id_for_label }}">
        <i data-feather="lock"></i> Password
      </label>
      <input
        type="password"
        name="{{ form.password.name }}"
        id="{{ form.password.id_for_label }}"
        placeholder="Masukkan password"
        required
      />

      <button type="submit"><i data-feather="log-in"></i> Masuk</button>
    </form>
    {% if form.errors %}
    <p>Username atau password salah. Silakan coba lagi.</p>
    {% endif %}
  </div>
</section>

<script>
  // Initialize Feather Icons
  feather.replace();
</script>
{% endblock %}
