{% load static %}
<footer class="footer">
    <div class="footer-container">

        <div class="footer-map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3965.6983324231273!2d106.9898277!3d-6.303309700000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e6993b1dfaaaed3%3A0xc057ff402849a33a!2sGereja%20Katolik%20Stasi%20Santo%20Yohanes%20Paulus%20II%2C%20Rawalumbu!5e0!3m2!1sid!2sid!4v1760331750828!5m2!1sid!2sid" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

        <div class="footer-section contact-info">
            <h3>Kontak Kami</h3>
            <p><i data-feather="map-pin"></i> <a href="https://share.google/xazIrp5fQJpOvkjV0">Gereja Katolik Stasi Santo Yohanes Paulus II, Rawalumbu</a></p>
            <p><i data-feather="phone"></i> 0813-9939-6742</p>
            <p><i data-feather="mail"></i> <a href="mailto:sekretariat@gerejastypii.org">sekretariat@gerejastypii.org</a></p>
        </div>

        <div class="footer-section quick-links">
            <h3>Navigasi Cepat</h3>
            <ul>
                <li><a href="{% url 'index' %}">Beranda</a></li>
                <li><a href="{% url 'jadwal_misa' %}">Jadwal Misa</a></li>
                <li><a href="{% url 'kilas_berita' %}">Kilas Berita</a></li>
                <li><a href="#contact">Layanan</a></li>
            </ul>
        </div>

        <div class="footer-section social-media">
            <h3>Ikuti Kami</h3>
            <div class="social-links">
                <a href="https://www.instagram.com/komsos_yp2/?hl=id" aria-label="Instagram"><i data-feather="instagram"></i></a>
                <a href="#" aria-label="Youtube"><i data-feather="youtube"></i></a>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <p>&copy; 2024 Gereja St. Yohanes Paulus II. Hak Cipta Dilindungi.</p>
        <p>Dibangun dengan Kasih dan Pelayanan</p>
    </div>
</footer>
