{% load static %}
<nav class="navbar">
  <div class="navbar-container">
    <a href="{% url 'index' %}" class="navbar-logo">
      <img
        src="{% static 'img/logo-Yp.png' %}"
        alt="Logo Stasi Yohanes Paulus II"
        class="navbar-logo-img"
      />
      <span>St. Yohanes Paulus II</span>
    </a>

    <div class="navbar-nav">
      <a href="{% url 'index' %}">Tentang</a>

      <div class="dropdown">
        <a href="#" class="dropbtn">Jadwal <i data-feather="chevron-down"></i></a>
        <div class="dropdown-content">
          <a href="{% url 'jadwal_misa' %}">Jadwal Misa</a>
          <a href="{% url 'jadwal_petugas' %}">Jadwal Petugas</a>
        </div>
      </div>

      <a href="{% url 'kilas_berita' %}">Kilas Berita</a>
      <a href="#contact">Layanan</a>
    </div>

    <div class="navbar-extra">
      {% if user.is_authenticated %}
      <a href="{% url 'logout' %}">Logout</a>
      {% else %}
      <a href="{% url 'login' %}">Login</a>
      {% endif %}
      <a href="#" id="hamburger-menu"><i data-feather="menu"></i></a>
      <a href="#" id="close-menu"><i data-feather="x"></i></a>
    </div>
  </div>
</nav>
