{% load static %}

<!DOCTYPE html>
<html lang="id">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Gereja Santo Yohanes Paulus II{% endblock %}</title>

    <!-- Feather Icons -->
    <script src="https://unpkg.com/feather-icons"></script>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600&family=Poppins:wght@500;600&display=swap"
      rel="stylesheet">

    <!-- Main CSS -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />

    <!-- Extra CSS Block -->
    {% block extra_css %}{% endblock %}
  </head>
  <body>
    {% include 'partials/navbar.html' %}

    {% block content %}{% endblock %}

    {% include 'partials/footer.html' %}

    <script>
      feather.replace();
    </script>
    <script src="{% static 'js/scripts.js' %}"></script>
  </body>
</html>
